<p style="color: green"><%= notice %></p>

<%= render @post %>

<% if @comments.any? %>
  <div class="box">
    <% @post.comments.each do |comment| %>
      <%= image_tag comment.user.profile_pic, class: "image is-24x24 is-rounded"  %>
      <%= comment.user.first_name + " " + comment.user.last_name %>:</strong> <%= comment.content %>
    <% end %>
  </div>
<% end %>

<div class="column"></div>

<div class="box">
  <%= render 'comments/form' %>
</div>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
